*{
	margin:5;
	padding:5;
}

h1 {
    text-alguin: center;
    color: #000079;
}

body{
    background:#B3E5FC;
}

p{
	color:#8600FF;
}

h3{
   text-alguin: center;
   color: #000079; 
}

ul{
   text-alguin: center;
   color: #000079;
